*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
div#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden!important;
}
body {
    margin: 0;    
    padding: 0;    
    transition: all 0.25s linear;
    overflow-x: hidden!important;
}

.container-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))!important;
}


.card{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: #333;
    box-shadow: 5px 5px 13px 0px black;
}

.card > img{
    border-radius: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.title > h1{
    font-size: 22px;
    text-transform: uppercase;
    color: white
}
